@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

:root{
  font-family: sans-serif;
}

.bottom-bar{
  /* Hack */
  top: 93vh;
  position: fixed;
  width: 24vw;
  display: flex;
  justify-content: space-evenly;
  
}

#motiv{
  width: 14em;
  margin: 2em;
  font-family:Arial;
}

#fancy{
  width: 14em;
  margin: 0.5em;
  font-family:Arial;
}

#medimg{
  width: 29em;
  margin: 2em;
}

.main-imgs{
  display: flex;
  flex-direction: column;
}

#iheader{
  display: flex;
  justify-content: center;
  width: 22em;
}

.setting-box{
  background-color:wheat;
  width: 15vw;
  padding: 2em;
  border-radius: 2em;
  border: solid black 0.3em;
  margin: 0.5em;
  font-size: 1.4em;
}





.bottom-bar .item{
  border: none;
  width: 7vw;
  height: 7vh;
}

.bottom-bar .item:hover{
  background-color: #BBB;
}

#active{
  background-color: #444;
}

.reminder-ui{
  width: 40rem;
  margin: 2rem;
}


.reminder-ui button{
  width: auto;
  height: 7rem;
  margin: 0.3rem;
}

h2{
  font-family: "Sawarabi Gothic", sans-serif;
  font-weight: 590;
  font-style: normal;
}