@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

:root{
  font-family: sans-serif;
}

.bottom-bar{
  /* Hack */
  top: 90vh;
  position: fixed;
  
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}

/* This is for the motivational message */
#motiv{
  width: 14em;
  margin: 2em;
  font-family:Arial;
}

.bottom-bar .item{
  border: none;
  height: 10vh;
  width: 25vw;
}

#active{
  background-color: #444;
}

#fancy{
  width: 14em;
  margin: 0.5em;
  font-family:Arial;
}

.main-imgs{
  display: flex;
  flex-direction: column;
}

.setting-box{
  background-color:wheat;
  width: 15vw;
  padding: 2em;
  border-radius: 2em;
  border: solid black 0.3esm;
  margin: 0.5em;
  font-size: 1.4em;

}

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 13em;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  border-right: solid black 0.3em;
  display: flex;
  justify-content: top;
  flex-direction: column;
  align-items: center;

}

.sidebar button{
  border: none;
  width: auto;
  height: auto;
  font-size: 2em;
  margin: 0.3em;
  border-radius: 0.3em;
  padding: 1em;
}

.sidebar button:hover{
  background-color: #444;
}


.not-sidebar{
  margin-left: 14em;
}



/* @import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

:root{
  font-family: sans-serif;
}

.bottom-bar{
  /* Hack 
  top: 90vh;
  position: fixed;
  
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}

.bottom-bar .item{
  border: none;
  height: 10vh;
  width: 25vw;
}

#motiv{
  width: 14em;
  margin: 2em;
  font-family:Arial;
}

#fancy{
  width: 14em;
  margin: 0.5em;
  font-family:Arial;
}

#medimg{
  width: 29em;
  margin: 2em;
}

.main-imgs{
  display: flex;
  flex-direction: column;
}

#iheader{
  display: flex;
  justify-content: center;
  width: 22em;
}

.setting-box{
  background-color:wheat;
  width: 15vw;
  padding: 2em;
  border-radius: 2em;
  border: solid black 0.3esm;
  margin: 0.5em;
  font-size: 1.4em;
}







.bottom-bar .item:hover{
  background-color: #BBB;
}

#active{
  background-color: #444;
}

.reminder-ui{
  width: 40rem;
  margin: 2rem;
}


.reminder-ui button{
  width: auto;
  height: 7rem;
  margin: 0.3rem;
}

h2{
  font-family: "Sawarabi Gothic", sans-serif;
  font-weight: 590;
  font-style: normal;
} */