@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

:root{
  font-family: sans-serif;
}

.bottom-bar{
  /* Hack */
  top: 93vh;
  position: fixed;
  
}

#motiv{
  width: 14em;
  margin: 2em;
  font-family:Arial;
}

#medimg{
  width: 29em;
  margin: 2em;
}

.main-imgs{
  display: flex;
  flex-direction: column;
}

#iheader{
  display: flex;
  justify-content: center;
  width: 22em;
}

.bottom-bar .item{
  border: none;
  width: 9vw;
  height: 7vh;
}

.bottom-bar .item:hover{
  background-color: #BBB;
}

#active{
  background-color: #444;
}

.reminder-ui{
  width: 40rem;
  margin: 2rem;
}


.reminder-ui button{
  width: 10rem;
  height: 7rem;
  margin: 0.3rem;
}

h2{
  font-family: "Sawarabi Gothic", sans-serif;
  font-weight: 590;
  font-style: normal;
}